<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" href="#">Logo</a>
        <div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active mx-2" aria-current="page" [href]="'http://localhost:4200/inicio'">Inicio</a>
                </li>
                <li class="nav-item" *ngIf="verificadorBool">
                    <a class="nav-link mx-2" [href]="'http://localhost:4200/herramienta'">Registrar Herramienta</a>
                </li>
            </ul>

            <form class="d-flex">
                <button class="btn btn-outline-primary me-3">
                    <button id="buttonCerrarSesion" (click)="borrarContra()" style="text-decoration: none;">
                        <a *ngIf="verificadorBool" style="text-decoration: none;">Cerrar Sesion</a>
                    </button>
                    <a *ngIf="!verificadorBool" [href]="'http://localhost:4200/iniciar-sesion'"
                        style="text-decoration: none;">Iniciar Sesion</a>
                </button>

                <button class="btn btn-outline-primary me-3" id="buttonRegistrarse"> <a [href]="'http://localhost:4200/registrarse'"
                        style="text-decoration: none;">Registrarse</a>
                </button>
            </form>
        </div>
    </div>
</nav>
